@font-face{
    font-family: EkkamaiStandard;
    scr:url("../font/EkkamaiStandard-Light.ttf");
}

@font-face{
    font-family: ItalianBreakfast;
    src:url("../font/ItalianBreakfast-Regular.ttf");
}

.navbar{
    top: -100px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 100;
    transition: .2s;
    /*background-color:#F8F9FA;*/
    background-color: transparent;
}

.navbar ul{
    width: 100%;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navbar li{
    float: none;
    display: inline-block;
    transition: .5s;
}

.navbar a:hover{
    /*background-color: #141416;*/
    color: #F3A712 !important;
}

.navbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar a{
    text-transform: uppercase;
    font-size: 120%;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 5vw;
    margin: 0;
    color: #F8F9FA;
    transition: .5s;
}

#video-bg{
    overflow: hidden;
    z-index: -100;
    position: fixed;
    right: 0;
    left: 0;
    min-width: 99%;
    min-height: 99%;
}

#Logo{
    margin: 0 2.5vw 0 2.5vw;
    padding: 0;
    width: 4em;
    height: auto;
}

#Logo-view{
    margin: 0;
    padding: 0;
}

.welcome{
    height: 100vh;
    width: 100%;
    margin-bottom: 60px;
    /*background-image: url("../header.jpg"); */
    /*background-color: #141416;*/
}


#logo{
    font-family: ItalianBreakfast;
    padding-top: 38vh;
    font-size: 10em;
    color: white;
    text-align: center;
    /*animation: shake 1s infinite;*/

}


@keyframes blink{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#text-start{
    text-align: center;
    color: #F8F9FA;
    font-family: EkkamaiStandard;
    animation: blink 1s infinite ease alternate-reverse;
}

#about{
    background-color: #F8F9FA;
}

#view1{
    height: 100vh;
    width: 49%;
}

#view2{
    height: 100vh;
    width: 49%;
    padding-left: 1vw;
}

#view2 h1{
    padding-top: 7%;
    text-align: center;
    font-family: ItalianBreakfast;
    font-size: 4em;
}
#view2 p{
    font-family: EkkamaiStandard;
    font-size: 120%;
}

#attractions{
    height: 100vh;
    width: 100%;
    background-color: #F8F9FA;
}

#attractions h1{
    padding-top: 3%;
    text-align: center;
    font-family: ItalianBreakfast;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.col{
    height: 42vh;
    overflow: hidden;
    transition: .5s;
    padding-left: 0px;
}

.row{
    margin: 0;
    padding: 0;
}

.img{
    max-width:110%;
    /*max-height:100%;*/
    margin:auto;
    display:block;x
}

#food{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: gray;
}

#mapping{
    width: 100%;
    height: auto;
}

.attraction-img{
    padding: 0;
    height: 80vh;
    margin: 0 30px 0 30px;
    width: 30%;
    background-color: #26532B;
    transition: .5s;
}


#place1:hover{
    box-shadow: 10px 15px 20px rgb(0, 0, 0, .4);
}
#place2:hover{
    box-shadow: 0px 15px 20px rgb(0, 0, 0, .4);
}
#place3:hover{
    box-shadow: -10px 15px 20px rgb(0, 0, 0, .4);
}

.att-img{
    width: 100%;
    height: 70vh;
    background-color: #399E5A;
}

#more-info{
    font-family: EkkamaiStandard;
    text-align: center;
    padding-top: 3vh;
    font-size: 150%;
    color: #F8F9FA;
}

.footer{
    height: 30vh;
    width: 100%;
    background-color: #1D1F20;
    color: #FAFBFC;
    font-family: ItalianBreakfast;
}

.footer h1{
    text-align: center;
    line-height: 10vh;
}
