body {
  background: #333;
  color: white;
}
p{
    font-family: 'Athiti', sans-serif;
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.Navbar li {
    float: left;
}

.Navbar li a {

    font-size: 1.25rem;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#Choice {
    float: right;
}

.Navbar li a:hover {
    transition: .5s;
    color: #111;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
    opacity: .5;
}

.Header{
    height: 50vh;
  position: relative;
  overflow: hidden;
  padding-bottom: inherit;
  @media(min-width: 600px) {
    height: 100vh;
  }
}

.Text-Header{
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
}

.Text-Header p{
    font-size: 1.2rem;
}

h1 {
    
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 1rem;
    padding: 0;
    line-height: 1;
    font-size: 5vw;
    font-size: 75px;
  }

