@font-face{
    font-family: EkkamaiStandard;
    scr:url("../font/EkkamaiStandard-Light.ttf");
}

@font-face{
    font-family: ItalianBreakfast;
    src:url("../font/ItalianBreakfast-Regular.ttf");
}

@font-face {
  font-family: Fontcraft;
  src: url("../font/Fontcraft Ver 2.02.ttf");
}
body{
  font-family:Fontcraft;
}
.header{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: black;
  text-align: center;
}
.header h1{
  padding-top: 50vh;
  width: 100%;
  text-align: center;
  position: absolute;
  color: white;
  font-size: 10em;
  z-index: 1;
}
#Header-text{
  opacity: 0;
}
.parallax {
  display: none;
  background-image: url("../pic/ถ้ำพุหวาย.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
}

.parallax2 {
  display: none;
  background-image: url("../pic/วัดท่าซุง.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
}

.parallax3 {
  display: none;
  background-image: url("../pic/วัดถ้ำเขาวง.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
}



.information{
  font-size: 150%;
  padding: 20px 200px 20px 200px;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 3;
}
.information p{
  padding-top: 15px;
}
.information h1{
  font-size: 200%;
  text-align: center;
  padding-bottom: 0;
}

.center{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.map-frame{
  width: 100%;
  height: 500px;
}

.map{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
