body {
  background: #FFFCFF;
  margin:0;
  paddong:0;
}

h2{
    margin-top: 40px;
    font-size: 200%;
    letter-spacing: 10px;
}
#bott{
    background: green;
}

.pic{
    width: 600px;
    height:240px;
    float:right;
    background: black;
    overflow: hidden;
}

#PicHeader{
     width: 640px;
     height: 360px; 
    transform: translate(0px, 0px);

}

#underline{
    display: block;
    width:20%;
    margin-top: 0.5em;
    margin-left: 0;
    margin-bottom: 0.5em;
    border-width: 3px;
}