body {
  background: #FFFCFF;
}
p{
    font-family: 'Athiti', sans-serif;
    color: black;
}

.Navbar{
  position: absolute;
  z-index: 1000;
  padding-left: 23%;
  width: 100%;
  margin:40px auto;
  background: trans #FFFCFF;parent;
}

.Navbar ul{
    list-style: none;
    width: 100vw;
    overflow: hidden;
    
}

.Navbar li {
    float: left;

}

#Logo{
  font-size: 3em;
  margin-top: -25px;
}

.Navbar li a {
    font-size: 1.5rem;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom:rgb(0, 0, 0, .3) solid 2px;
    transition: .5s;
}

.Navbar li a:hover {
  border-radius: 3px;
    color: #1211;
    border-bottom: #353B3C solid 6px;
}


video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity ;
    opacity: .85;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 1rem;
    padding: 0;
    line-height: 1;
    font-size: 4vw;
    color: #9994;
  }


.FirstPage{
  width: 100vw;
  height: 90vw;
  background-image: url("../build.jpg");
  background-repeat: no-repeat;
}